
@import url('https://fonts.googleapis.com/css?family=Roboto:700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	padding: 0;
	margin: 0;
}

.stick{
	position: absolute;
	height: 30%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h3{
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.about{
	width: 100%;
	padding: 100px 0px;
	background-color: #191919;
}
.about-text{
	width: 550px;
}
.about img{
	height: auto;
	width: 500px;
}

.main{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 55px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: 'Bebas Neue';
}
.about-text h5{
	color:#cc0000;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
	font-family: 'Bebas Neue', sans-serif;
}
.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
	font-family: 'Roboto', sans-serif;
}


.wrapper{
	background: url(regbg.jpg) no-repeat;
	background-size:cover;
	height: 100vh;
	background-color: #2B2A2A;

}
.about{
	height: 100vh;
	width: 100%;
	background-color: #2B2A2A;
}
.navbar{
	position: fixed;
	height: 80px;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.4);
}
.navbar .logo{
	width: 50px;
	height: 50px;
	padding: 20px 100px;
}
.navbar ul{
	float: right;
	margin-right: 20px;
}

.navbar ul li{
	list-style: none;
	margin: 0 8px;
	display: inline-block;
	line-height: 80px;
}
.navbar ul li a{
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	color: white;
	padding: 6px 13px;
	text-decoration: none;
	transition: .4s;
}
.navbar ul li a.active,
.navbar ul li a:hover{
	background: red;
	border-radius: 2px;
}
.wrapper .center{
	position: absolute;
	left: 50%;
	top: 55%;
	transform: translate(-50%, -50%);
	font-family: sans-serif;
	user-select: none;
}
.center h1{
	color: white;
	font-size: 70px;
	width: 900px;
	font-weight: bold;
	text-align: center;
}
.center h2{
	color: white;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center h3{
	color: white;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	width: 885px;
	text-align: center;
}
.center .buttons{
	margin: 35px 280px;
}
.buttons button{
	height: 50px;
	width: 150px;
	font-size: 18px;
	font-weight: 600;
	color: #ffb3b3;
	background: red;
	outline: none;
	cursor: pointer;
	border: 1px solid #cc0000;
	border-radius: 25px;
	transition: .4s;
}
.buttons .btn2{
	margin-left: 25px;
}
.buttons button:hover{
	background: #cc0000;
}
.homebg2{
	background: url(homebg2.jpg) no-repeat;
	background-size:cover;
	background-color: #2B2A2A;
	height: 100vh;
	overflow: hidden;
}