<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>UPV Diwata Esports</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
	<body>
		
		<div class="wrapper">
				<nav class="navbar">
					<img class="logo" src="logo.png">
					<ul>
				        <li><a href="/">Home</a></li>
				        <li><a  href="/about">About Us</a></li>
				        <li><a href="/register">Register Now</a></li>
					</ul>
				</nav>
				<div class="center">
					<h1>UPV Diwata Esports</h1>
					<h2>Our Team.</h2>
					<h3>We build your career for a brighter future.</h3>
				</div>
		</div>
		<div class="slider">
			<div class="myslide">
				<img src="img1.png" style="width: 100%; height: 100%;">
			</div>
			
			<div class="myslide">
				<img src="img2.png" style="width: 100%; height: 100%;">
			</div>
			
			<div class="myslide">
				<img src="img3.png" style="width: 100%; height: 100%;">
			</div>
			
			<div class="myslide">
				<img src="img4.png" style="width: 100%; height: 100%;">
			</div>
			
			<div class="myslide">
				<img src="img5.png" style="width: 100%; height: 100%;">
			</div>
			
			<!-- onclick js -->
			<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
			  <a class="next" onclick="plusSlides(1)">&#10095;</a>
			
			<div class="dotsbox" style="text-align:center">
				<span class="dot" onclick="currentSlide(1)"></span>
				<span class="dot" onclick="currentSlide(2)"></span>
				<span class="dot" onclick="currentSlide(3)"></span>
				<span class="dot" onclick="currentSlide(4)"></span>
				<span class="dot" onclick="currentSlide(5)"></span>
			</div>
		</div>

	<script src="jsfile.js"></script>
	<section class="about">
		<div class="main">
			<img src="aboutus.png">
			<div class="about-text">
				<h2>What is UPV Esports?</h2>
				<h5>Our Journey</h5>
				<p>Founded just a year ago, UPV Diwata Esports is the premiere Esports Team of the University of the Philippines Visayas.  Partnered with AcadArena and Globe, UPV Esports is a great avenue for young gamers who want to enter into competitive tournaments and to build their networks in the Esports industry.
					<br>
					<br>Not only that, UPV Diwata Esports also provides scholarships for talented individuals who want to pursue a career in gaming.  The organization partnered up with AcadArena can provide qualified players with subsidiaries and monthly allowances to help them with their future careers. We got your backs, gamers!
					<br>
					<br>UPV Diwata Esports also boasts a variety of games and tournaments that players can join. Gamers can join rosters for highly competitive games such as Valorant, League of Legends, Dota, Mobile Legends and Overwatch.  These teams compete yearly with other rival campuses to see who comes out on top.  Do you have what it takes?</p>
			</div>
		</div>
	</section>
	<section class="about">
		<div class="main">
			<div class="about-text">
				<h2>Our Mission</h2>
				<h5>What we do</h5>
				<p>UPV Diwata Esports aims to provide each aspiring gamer equal opportunity to pursue careers in gaming and event organizing by providing aid and guidance to worthy students. 

					UPV Diwata Esports also aims to make gaming a part of the culture in the University of the Philippines Visayas, helping to strengthen camaraderie and student relationships through tournaments and university-wide events.</p>
			</div>
			<img src="mission.jpg">
		</div>
	<section class="about">
		<div class="main">
			<img src="vision.jpg">
			<div class="about-text">
				<h2>Our Vision</h2>
				<h5>What's Next?</h5>
				<p>Our vision is to make UPV Diwata Esports one of the best organizations in Western Visayas. Aiming to help our fellow students reach the peak of their career, UPV Diwata Esports plans to become a powerhouse for Esports athletes with world-class recognition and quality.</p>
			</div>
		</div>
	</section>
	<script src="jsfile.js"></script>
	
<!--<div class="about">
		<img src="About.png">
	</div> -->
	
</body>
</html>


